html{
    font-size: 20px;
}

div{
    background: #edf;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 30px;
    
    /*1em=mismo tamaño del fontsize del div
    20px = equivale a 1em
    3em=60px 3*20=60px
    busca el elemento padre que es div*/
    width: 70vw;
    height: 70vh;
    margin:0;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vh;
    
}
h1{
    margin: 0;
    font-size: 23px;
    
}
span{
    color: #999;
    font-size: 16px;
    font-weight: 100;
}
p{
    color: #555;
    /* font-size: 1em; */
    font-size: 1rem;
    /*busca el elemento raiz que es HTML
    1rem= el font-size de html que es 30px
    si en el caso  que no tenga una medida el elemento raiz escogera el elemento abuelo o el mas cerca*/


}
