
h1{
    color: brown;
    margin: 30px;
    font-family: sans-serif;

}
h1:hover{
    color: black;
    background-color: aliceblue;
}
h1:active{
    background-color: #999;
    color: white;
}

/* Sleecionarl el primer li */

li:first-child{
    color: red;
}
/* selecionar el segundo li */
li:nth-child(2){
     color: #0f0;
}
/* seleeccionado un Li si y un Li no  */
li:nth-child(2n){
    color: green;
    background-color: white;
}
/* seleccionando el segundo LI */
li:nth-of-type(2){
    color: yellow;
    
}

/* Seleccionar el ultimo li */
li:last-child{
    color: blue;
}


.lista li:not(.excluir){
    color: red;
}


div{
    border: 2px solid black;
}

div:empty{
    border: none;
}

input[type="checkbox"]{
    margin: 50px;
}
input[type="checkbox"]:checked {
    margin: 0;
}


/* enlace no visitados */

a:link{
    color: red;
}

/* enlace visitados */

a:visited {
    color: green;
}
