div{
    padding: 20px;
}
h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}
div::first-line{
    color: red;
}
h1::selection{
    background-color: red;
}
input::placeholder{
    color: green;
}
li::marker{
    color: red;
}
li::before{
    content: 'Antes:';
    color:red;
}
li::after{
    content: '-Despues';
    color: blue;
}



