.lista{
    border: 2px solid black;
}
.listas__item{
    color:  grey;
    margin: 10px 0;
    list-style: square;
}
.item--danino{
    color: red;
}
.item--importante{
    color: blue;
}
.lista--vieja{
    opacity: 0.4;
    background-color: #ddd;
}