.box{
    padding: 50px;
    background: #48b;
    background: #f80;
    background: #f00;
    background: #0fdf;
    background: hsl(150, 100%, 50%);

    margin: 20px;
    margin-left: 100px;
    text-align: center;
    color: hsl(210, 40%, 45%);
    border-top: 2px solid hsl(210, 40%, 45%);
    font-family: sans-serif;
    font-weight: bold;
}